body {
  margin: 0;
}
.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4d545b;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #abb3ba;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.logo {
  margin-left: 16px;
}

.menu-options {
  border: 1px solid red;
  margin-left: 232px;
  padding: 25px 12px;
  display: flex;
  justify-content: space-evenly;
}

.menu-options a {
  text-decoration: none;
  margin: 0px 8px;
  border-left: 1px solid red;
  border-right: 1px solid red;
}

.graphic-image {
  display: flex;
  justify-content: center;
}

.error-text-area {
  display: flex;
  justify-content: center;
}

textarea {
  margin: 25px 0 55px 0;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}